<div class="three wide tablet only three wide computer only column" id="sidebar">
        <div class="ui vertical borderless fluid text menu">
          <a class="active item">Overview</a> <a class="item">Reports</a>
          <a class="item">Analytics</a> <a class="item">Export</a>
          <div class="ui hidden divider"></div>
          <a class="item">Nav item</a> <a class="item">Nav item again</a>
          <a class="item">One more nav</a> <a class="item">Another nav item</a>
          <a class="item">More navigation</a>
          <div class="ui hidden divider"></div>
          <a class="item">Macintosh</a> <a class="item">Linux</a>
          <a class="item">Windows</a>
        </div>
      </div>