<div class="ui tablet computer only padded grid">
        <div class="ui inverted borderless top fixed fluid menu">
          <a class="header item">DarkOps</a>
          <div class="right menu">
            <!-- <div class="item">
              <div class="ui small input"><input placeholder="Search..."></div>
            </div> -->
            <a href="/users/status" class="item">Status</a>
            <a class="item">Settings</a>
            <a class="item">Profile</a> <a class="item">Help</a>
                  <div class="ui dropdown item">
                        <div class="text"><%=loginUser %> 已登入</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <a class="item"> Action </a> <a class="item"> Another action </a>
                          <a class="item"> Something else here </a>
                          <div class="ui divider"></div>
                          <div class="header">Navbar header</div>
                          <a class="item"> Seperated link </a>
                          <a href="/users/logout" class="item">登出</a>
                        </div>
                  </div>
          
           </div>
         </div>

</div>